/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: max(50%, 400px, );
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {


    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);

    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 375px;

}

header {
    padding: 3rem 3rem 0 3rem;
    line-height: 2rem;
    color: var(--VeryDarkMagenta);
    font-size: x-large;
    text-align: center;

}

p {
    width: 90%;
    margin: 1rem auto;
    text-align: center;
    color: var(--DarkGrayishMagenta);
}

section {
    width: 100%;
}

.ratings {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;

    text-align: center;
    background-color: var(--LightGrayishMagenta);
    border-radius: 10px;
    color: var(--VeryDarkMagenta);
    font-weight: 700;

}

.ratings::before {
    content: "";
    background-image: url(./images/icon-star.svg);
    width: 100px;
    height: 1rem;
    margin: 0 auto;
    margin-bottom: .5rem;
    display: block;
    background-repeat: space;
}


.verified_reviews {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    color: var(--White);

}

li {
    width: 90%;
    background-color: var(--VeryDarkMagenta);
    margin: 1rem auto;
    border-radius: 10px;
    padding: 3rem 2rem;
}

.title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.name {
    display: flex;
    flex-direction: column;
}

.VB {
    color: var(--SoftPink);
}

img {
    max-width: 15%;
    border-radius: 100%;
}



.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width:600px) {
    main {
        max-width: 1200px;
        height: 100vh;
    }

    .desktop_flex {
        display: flex;
        align-items: center;
        margin-bottom: 4rem;
    }

    header {
        font-weight: 700;
        line-height: 2.5rem;
        font-size: xx-large;
        width: 70%;
        padding: 0;
        margin-bottom: 1rem;
        text-align: left;
    }

    p {
        width: 70%;
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: large;
    }

    .ratings {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        animation: left-to-right ease-in 1s;

    }

    .ratings::before {
        margin: 0;
        padding: 0;
    }

    .ratings:first-of-type {
        transform: translateX(-3rem);
    }

    .ratings:last-of-type {
        transform: translateX(3rem);
    }


    .verified_reviews {
        display: flex;
        gap: 1rem;
        margin: 0 auto;
        animation: down-to-up ease-in-out 1s;

    }

    li:first-of-type {
        transform: translateY(-1rem);
    }

    li:last-of-type {
        transform: translateY(1rem);
    }



    .left {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .right {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    @keyframes down-to-up {
        0% {
            transform: translateY(100%);
        }

        100% {
            transform: translateY(0%);
        }
    }

    @keyframes left-to-right {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0%);
        }
    }

}